@{
  Layout = "Views/Shared/_Layout.cshtml";
}

<h1>Create a new contact:</h1>

<form action="/contact_created" method="post">

  <label for="contact-name">Full Name:</label>
  <input id="contact-name" type="text" name="contact-name">

  <label for="contact-number">Phone Number:</label>
  <input id="contact-number" type="text" name="contact-number">

  <label for="contact-address1">Address (Line 1):</label>
  <input id="contact-address1" type="text" name="contact-address1">

  <label for="contact-address2">Address (Line 2):</label>
  <input id="contact-address2" type="text" name="contact-address2">

  <label for="contact-city">City:</label>
  <input id="contact-city" type="text" name="contact-city">

  <label for="contact-state">State:</label>
  <input id="contact-state" type="text" name="contact-state">

  <label for="contact-zip">Zip Code:</label>
  <input id="contact-zip" type="text" name="contact-zip">

  <button type="submit">Create</button>
</form>
