@{
  Layout = "Views/Shared/_Layout.cshtml";
}

<h1>All Contacts</h1>

<ul>
  @foreach(var contact in Model)
  {
    <li><a href="/contact/@contact.GetId()"> @contact.GetName()</a></li>
  }
</ul>

<a href="/contact_new"><button type="button" class="btn btn-app">Create Contact</button></a>

<form class="form-group" action="/contacts_deleted" method="post">
  <button class="btn btn-app" type="submit">Delete All Contacts</button>
</form>
